@import "reset";
@import "typo";

$primary-color: #ca774a;
$body-font: "Jost";
$body-size: 24px;
$mq-large: 800px;
$mq-medium: 600px;


@mixin mq($width) {
    @media (max-width: $width) {
        @content;
    }
}

@mixin vert-mid () {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

body {
    background-color: $primary-color;
    color: white;
    font-family: $body-font;
    line-height: 1.5;
    font-size: $body-size;
    height: 100vh;
    @include vert-mid();
}

section {

        width: 500px;

        @include mq($mq-medium) {
            width: 350px;
            font-size: 16px;
        }


    p {
        margin: 24px 0 0 0;
    }
}