@custom-media --mq-medium (max-width: 800px);

:root {
  --primary-color: #ff7700;
}

@media (--mq-medium) {
  :root {
    --primary-color: blue;
  }
}

body {
  background-color: var(--primary-color);
}
